
<ion-view view-title="Sing In" >
    <ion-content class="has-header">

<div class="list">


  <label class="item item-input item-stacked-label" >
    <span class="input-label">Email</span>
    <input type="email" required>
  </label>
    <label class="item item-input item-stacked-label">
    <span class="input-label">Password</span>
    <input type="password" required>
  </label>
    <label class="item item-input item-stacked-label">
    <span class="input-label">Confirm Password</span>
    <input type="password" required>
  </label>
  
</div>
        <div class="button-bar padding">
            <button  class="button button-full button-balanced ink">Register!</button>
                        <button  class="button button-full button-energized ink">Later</button>
        </div>
        <div class="button-bar">
            <button class="button  icon ion-social-google button-assertive"></button>
            <button class="button  icon ion-social-twitter button-calm"></button>
            <button class="button  icon ion-social-facebook button-positive"></button>
        </div>
<div class="card">
  <div class="item item-text-wrap">
    Even if you change your phone number or switch your mobile device, you can access all your profile info and use the PC version!
  </div>
</div>
    </ion-content>
</ion-view>